## zeros & ones

0으로 채워진 numpy array를 만들 수 있음

In [3]:
import numpy as np

In [4]:
zeros = np.zeros([3, 3])
zeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [5]:
zeros = np.zeros(1)
zeros

array([0.])

In [7]:
# ones = np.ones([10])
ones = np.ones([10, 5])
ones

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [8]:
ones * 5

array([[5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.],
       [5., 5., 5., 5., 5.]])

In [9]:
arr = np.arange(5)
arr

array([0, 1, 2, 3, 4])

In [10]:
arr = np.arange(4, 9)
arr

array([4, 5, 6, 7, 8])

In [11]:
arr = np.arange(10, 20)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [12]:
arr = np.arange(9).reshape(3, 3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## Index

In [13]:
nums = [1, 2, 3, 4, 5]

In [14]:
nums[2]

3

In [15]:
nums[2:]

[3, 4, 5]

In [16]:
arr[1, 2]

5

## Slicing

In [17]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [18]:
arr[1:]

array([[3, 4, 5],
       [6, 7, 8]])

In [19]:
# 행과 열을 각각 갖고 오는 것
arr[1:, 1:]

array([[4, 5],
       [7, 8]])

## Boolean Indexing

In [20]:
data = np.random.randn(3, 3)
data

array([[ 3.02055061,  0.10861794,  1.60075318],
       [-0.59919209, -0.90849298,  0.8654612 ],
       [-0.23871458, -1.74788401,  1.90104113]])

In [21]:
data <= 0

array([[False, False, False],
       [ True,  True, False],
       [ True,  True, False]])

In [22]:
data[data <= 0]

array([-0.59919209, -0.90849298, -0.23871458, -1.74788401])

In [24]:
data[data <= 0] = 1
data

array([[3.02055061, 0.10861794, 1.60075318],
       [1.        , 1.        , 0.8654612 ],
       [1.        , 1.        , 1.90104113]])

## Broadcast

행렬의 차원수가 다른 경우

In [25]:
arr = np.arange(9).reshape(3, 3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [26]:
arr + 3

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [27]:
arr * 3

array([[ 0,  3,  6],
       [ 9, 12, 15],
       [18, 21, 24]])

In [30]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [29]:
arr + np.array([1, 2, 3])

array([[ 1,  3,  5],
       [ 4,  6,  8],
       [ 7,  9, 11]])

## Math Function

In [31]:
arr + 10

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [32]:
arr * 5

array([[ 0,  5, 10],
       [15, 20, 25],
       [30, 35, 40]])

In [33]:
arr + arr

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [34]:
np.add(arr, 1)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [35]:
np.multiply(arr, 3)

array([[ 0,  3,  6],
       [ 9, 12, 15],
       [18, 21, 24]])

In [36]:
arr = np.random.randint(2, size=27).reshape(3, 3, 3)
arr2 = np.random.randint(2, size=9).reshape(3, 3)

In [37]:
arr.shape, arr2.shape

((3, 3, 3), (3, 3))

In [38]:
arr

array([[[0, 1, 1],
        [1, 0, 0],
        [1, 1, 1]],

       [[1, 0, 0],
        [0, 1, 1],
        [1, 1, 1]],

       [[1, 0, 0],
        [1, 1, 1],
        [0, 1, 0]]])

In [39]:
arr2

array([[0, 0, 1],
       [0, 1, 0],
       [1, 1, 0]])

In [40]:
arr + arr2

array([[[0, 1, 2],
        [1, 1, 0],
        [2, 2, 1]],

       [[1, 0, 1],
        [0, 2, 1],
        [2, 2, 1]],

       [[1, 0, 1],
        [1, 2, 1],
        [1, 2, 0]]])

In [41]:
arr * arr2

array([[[0, 0, 1],
        [0, 0, 0],
        [1, 1, 0]],

       [[0, 0, 0],
        [0, 1, 0],
        [1, 1, 0]],

       [[0, 0, 0],
        [0, 1, 0],
        [0, 1, 0]]])

In [42]:
np.sum(arr)

17

In [43]:
np.max(arr + arr2)

2

In [44]:
np.min(arr + arr2)

0

In [45]:
np.max(arr + arr2, 0)

array([[1, 1, 2],
       [1, 2, 1],
       [2, 2, 1]])

In [47]:
arr + arr2

array([[[0, 1, 2],
        [1, 1, 0],
        [2, 2, 1]],

       [[1, 0, 1],
        [0, 2, 1],
        [2, 2, 1]],

       [[1, 0, 1],
        [1, 2, 1],
        [1, 2, 0]]])

In [53]:
np.sum(arr + arr2, axis=-1)

array([[3, 2, 5],
       [2, 3, 5],
       [2, 4, 3]])

In [55]:
np.mean(arr)

0.6296296296296297

In [57]:
arr = np.array([1, 2, 4, 6, 7, 10])
arr

array([ 1,  2,  4,  6,  7, 10])

In [58]:
np.argmax(arr)
# 가장 큰 값의 인덱스를 리턴함

5

In [59]:
np.argmin(arr)
# 가장 큰 값의 인덱스를 리턴함

0

In [60]:
arr = np.array([1, 1, 4, 4, 6, 3, 2, 2])
arr

array([1, 1, 4, 4, 6, 3, 2, 2])

In [61]:
np.unique(arr)

array([1, 2, 3, 4, 6])